# PostgreSQL
POSTGRES_SERVER=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=eve_market
DATABASE_URL=postgresql://user:password@db/eve_market

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# API
API_KEY="supersecret"
LOG_LEVEL=INFO

# ESI API
ESI_BASE_URL=https://esi.evetech.net/latest
USER_AGENT="EveMarketAnalyzer - YourName/YourContact"